<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/menu/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="formulario">
              <div class="imagen_campo">
                <img  class="logo" src="/assets/Logo.png" width="145" alt="logo" id="img">
              </div>
              <div class="titulo">
                <h1>INICIO DE SESIÓN</h1>
              </div>
        
              <div>
                <form class="formato">
                  <div class="usuario">
                    <div class="img_user">
                      <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-128.png" alt="logo_user" width="25" class="logo_user">
                      <label id="usuario_label">Usuario</label>
                    </div>
                    <input type="text" name="usuario" id="usuario">
                  </div>
                  <div class="pass">
                    <div class="img_pass">
                      <img src="https://cdn2.iconfinder.com/data/icons/app-types-in-grey/512/lock_512pxGREY.png" alt="logo_pass" width="25" class="logo_pass">
                      <label id="password_label">Contraseña</label>
                    </div>
                    <input type="password" name="password" id="password">
                  </div>
                  <div class="enviar">
                    <a href="http://localhost:4200/panelAdmin" class="btn btn-success">Enviar</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
    </section>
    
</body>
</html>
